.mainContainer__background {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-color: black;
}
.mainContainer__background-img {
  display: none;
}
@media screen and (min-width: 450px) {
  .mainContainer__background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
